@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 0px;
}
body{
    background: url(imagens/matrix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#propt > header{
    background-color: grey;
}
#propt > header > div{
    width: 105px;
    display: inline-block;
    position: relative;
    left: 71%;
}
#propt{
    font-family: consolas,Arial, Helvetica, sans-serif;
    color: green;
    background-color: black;  
    min-width: 200px;  
    min-height: 100px;
    max-width: 600px;
    
    margin: auto;
    margin-top: 20px;
}
p, a{
    padding-bottom: 100px;
    margin: 5px;
    text-decoration: none;
    color: green;
}
a:hover{
    color: darkgreen;
}