@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 0px;
}
body{
    background-color: black;
    background-image: url(../imagens/matrix-p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100vw;
    height: 90vh;
}
main{
    width: 300px;
    height: 250px;
    margin: auto;
    background-color: black;
    margin-top: 30px;
    font-size: 0.8em;
}
header{
    width: 300px;
    height: 40px;
    background-color: grey;
}
#propt{
    padding: 0px 0px 0px 5px;
}
#propt, #remove, #square, #close{
    width: 40px;
    height: 40px;
}
#remove, #square, #close{
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 17px;
    left: 184px;
}
#text{
    color: green;
    padding: 10px;
}
#links > a > p{
    color: green;
    text-decoration: none;
    padding-left: 10px;    
}
a{
    text-decoration: none;
}
#links > a > p:hover{
    color: white;
}
#atext{
    color: green;
    padding: 0px 0px 0px 10px;
}